input {
	width: 50%;
	height: 36px;
	border: 1px solid #00B4CC;
	background: #85cfd8;
	text-align: center;
	color: #000;
	border-radius: 5px;
	cursor: pointer;
	font-size: 20px;
	margin-bottom: 20px;
}

::placeholder { /* Most modern browsers support this now. */
	color:  #000;
}