.App {
  text-align: center;
}

input {
  width: 50%;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 20px;
}

::placeholder { /* Most modern browsers support this now. */
  color:  #fff;
}

table{
  margin: 0 auto;
  width: 50%;
}

th{
  background-color: rgb(68, 109, 109);
  padding:5px 20px;
  color:whitesmoke
}

.table-data {
  text-align: center;
  padding: 5px 10px;
  background-color:rgb(206, 229, 236)
}
